<%= form_tag messages_path do %>
  <label>To:</label>
  <%= email_field_tag "recipient", "ev@mailgun.net" %> 
  <br>

  <label>Subject:</label>
  <%= text_field_tag "subject", "Hello from Heroku" %>
  <br>


  <%= text_area_tag "body", "Howdy!" %>
  <br>
  <%= submit_tag "Send" %>
<% end %>

